@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    background-color: #FFF3E0;
    height: 100vh;
    width: 100%;
}


.header-container{
    background-color: #956E34;
    color: #FFF3E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.header-left{
    color: #151517;
    text-align: center;
}
.header-right{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.header-right a{
    color: #FFF3E0;
    text-decoration: none;
}

.header-right a:hover{
    color: #151517;
}

.hero{
    background-image: url(imgs/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    color: #FFF3E0;
}

.hero h1{
    text-align: center;
    margin: 30px auto;
}


.menu{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu h1{
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
}

.menu p{
    font-size: 24px;
    text-align: center;
}

.menu-box p{
    font-size: 16px;
}

.menu-container{
    display: flex;
    width: 100%;
}


.menu-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

/*changing box container interaction on hover*/
.menu-box:hover{
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.228);
    border-radius: 10px;
    transition: 0.5s;
}

.menu-box img{
    width: 200px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.63);
}

.about-us-container{
    width: 100%;
    margin: 20px auto;
}

.about-left{
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
}



button{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: none; 
}

.menu-box button{
    background-color: #99DDAC;
    border-radius: 25px; 
}

.contact form button{
    background-color: #956E34;
    border-radius: 25px; 
}



.hero button{
    background-color: #956E34;
}



/*changing button interaction on hover*/
button:hover{
    cursor: pointer;
}

.menu-box button:hover{
    background-color: #4dbb7f;
    transition: 0.5s;
}
.contact form button:hover{
    background-color: #6b522c;
    transition: 0.5s;
}
.hero button:hover{
    background-color: #6b522c;
    transition: 0.5s;
}


.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: 500px;
}

.contact form{
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: space-evenly;
    align-items: center;
}


.footer-container{
    margin-top: 10px;
    background-color: #956E34;
    color: #FFF3E0;
}

.bottom-part{
    text-align: center;
    margin-bottom: 30px;
}

.link-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-box a{
    text-decoration: none;
    color:#FFF3E0;
}

/*changing the text interaction on hover*/
.footer-box a:hover{
    color:#151517;
}

.icon-container{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-bottom: 20px;
}

/*changing the cursor on hover*/
.icon-container i:hover{
    cursor: pointer;
}


input{
    width: 300px;
    height: 30px;
    border: 2px solid #956E34;
    border-radius: 10px;
    font-size: 0.8em;
    padding-left: 5px;
}


textarea{
    width: 300px;
    height: 100px;
    border: 2px solid #956E34;
    border-radius: 10px;
    font-size: 1.2em;
    padding-left: 5px;
}





 
